@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #293264;
  font-family: 'Karla', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
  position: relative;
  overflow: hidden;
}

.App {
  width: 85%;
  margin: auto;
}

.titleContainer {
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.title {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
}

.submit {
  background-color: #4D5B9E;
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  text-transform: capitalize;
  width: fit-content;
}

.questionContainer {
  margin-block: 1em;
}

.question {
  margin-bottom: 1em;
  font-weight: 700;
}

.answerContainer {
  display: flex;
  gap: 2em;
}

.answer {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #4D5B9E;
  width: fit-content;
  transition: 100ms ease-in-out;
}

.answer:hover {
  transform: scale(1.05);
}

.chosen {
  background-color: #D6DBF5;
  border: none;
}

.correct {
  background-color: #94D7A2;
  border: none;
}

.incorrect {
  background-color: #F8BCBC;
  border: none;
}

.turnIn {
  width: fit-content;
  margin: 3em auto;
  display: flex;
  align-items: baseline;
  font-weight: 700;
  gap: 1em;
}

.blob1 {
  height: 297px;
  width: 235px;
  background-color: #fffad1;
  border-radius: 46% 54% 34% 66% / 31% 35% 65% 69%;
  position: absolute;
  top: -70px;
  right: -70px;
  transform: rotate(135deg);
  z-index: -10;
}

.blob2 {
  height: 235px;
  width: 297px;
  background-color: #deebf8;
  border-radius: 69% 31% 39% 61% / 55% 52% 48% 45%;
  position: absolute;
  left: -70px;
  bottom: -70px;
  z-index: -10;
}